/* SHARED STARTS */
body {
  margin: 0;
  padding: 0;

  font: 700 14px/24px 'PT Sans Narrow', Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;

  background: #000 url('../img/hair-salon.jpg') top center no-repeat;
}

.inner-page {
  color: #000;

  background: #f8f5f2 url('../img/content-background.png') 0 0 repeat;
}

/* Links and Buttons */
a {
  text-decoration: none;
}

.button {
  font: inherit;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #653d15;
}

/* Header */
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: #000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

/* Breadcrums */
.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.5);
}

/* Footer */
.main-footer {
  color: #fff;

  background: #252525 url('../img/footer-background.png') 0 0 repeat;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color:#000;
  background-color:#fff;
}

/* Modals */
.modal {
  color: #000;
  background: #fbf8f5 url('../img/content-background.png') 0 0 repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  border: 2px solid #000;
  background-color: transparent;
}

.login-form input:hover,
.login-form input:focus {
  border: 2px solid #653d15;
}

.login-form .restore {
  color: #000;
  text-decoration: underline;
}

.login-form .restore:hover,
.login-form .restore:focus {
  text-decoration: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #653d15;
}

.modal-map .google-map {
  height: 400px;

  border: 7px solid #fff;
  background: #aba9a7 url('../img/map.png') 50% 50% no-repeat;
}
/* SHARED ENDS */

/* INDEX PAGE STARTS */
.index-columns {
  color: #000;

  background: #f8f5f2 url('../img/content-background.png') 0 0 repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

/* Features */
.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

/* News */
.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

/* Gallery */
.gallery-content {
  border: 7px solid #fff;
  background-color: #e5e5e5;
}

/* Appointment */
.appointment-item input {
  font: inherit;

  border: 2px solid #000;
  background-color: transparent;
}

.appointment-item input:hover,
.appointment-item input:focus {
  border-color: #653d15;
}
/* INDEX PAGE ENDS */

/* PRICE PAGE STARTS */
.promo-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.hair-products h2,
.our-prices h2,
.about-as h2 {
  font-size: 24px;
  line-height: 30px;
}

.hair-products ul {
  list-style: none;
}

.our-prices table {
  border-collapse: collapse;
}

.our-prices td {
  border: 2px solid #000;
}

.our-prices td:nth-child(even) {
  text-align: center;
}
/* PRICE PAGE ENDS */

/* CATALOG PAGE STARTS */
/* filters */
.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color:#653d15;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.5);
}

/* Catalog-list */
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a:first-child {
  color: #000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
}

/* Pagination */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color:#fff;
  vertical-align: middle;
  text-align: center;

  background-color:#000;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus,
.pagination-item:not(.pagination-item-current) a:active {
  background-color:#653d15;
}

.pagination-item-current a {
  color:#000;
  background-color:#fff;
}

/* CATALOG ITEM PAGE */
.product-photo-preview {
  list-style: none;
}

.product-photo-full,
.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/* Description */
.product-article {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}

.product-price b {
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
}
