.page-title {
  margin: 0;
  margin-bottom: 15px;
  @include calculate_font(30px, 42px);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;

  li:not(.breadcrumbs-current) {
    position: relative;
    padding-right: 45px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: $black;
    }
  }

  a {
    color: $black;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .breadcrumbs-current {
    color: $disabled;
  }
}
