.main-footer {
  padding-bottom: 40px;
  padding-top: 60px;

  color: $white;
  background: $footer_background url('../img/footer-background.png') 0 0 repeat;

  .container {
    display: flex;
  }
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.footer-social {
  width: 140px;
  text-align: center;

  ul {
    list-style: none;
  }
}

.social-button {
  color: $white;
}

.footer-copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;
  text-align: center;

  a:hover,
  a:focus {
    color: $black;
    background-color: $white;
  }
}
