.main-header {
  margin-bottom: 75px;
}

.inner-page {
  .main-header {
    margin-bottom: 50px;
    background-color: $black;
  }

  .main-navigation {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 25px 20px;
  }

  .user-navigation {
    margin-left: auto;
  }
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include calculate_font(16px, 20px, $white);

  &-wrapper {
    margin-bottom: 60px;
    width: 100%;
    background-color: $black;
  }
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $white;

    &:hover,
    &:focus {
      background-color: $header_on_cursor;
    }
  }
}

.user-navigation {
  width: 140px;

  .login-link {
    position: relative;
    display: block;
    padding: 25px 20px 25px 55px;

    &::before {
      content: '';
      position: absolute;
      top: 27px;
      left: 25px;
      width: 15px;
      height: 15px;
      background-image: url('../img/login.svg');
      opacity: 0.3;
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      opacity: 1;
    }
  }
}

.site-navigation {
  width: 545px;

  a {
    display: block;
    padding: 25px 20px;
  }
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}
