.main-header {
  margin-bottom: 75px;
}

.inner-page {
  .main-header {
    margin-bottom: 50px;
    background-color: $black;
  }

  .main-navigation {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 25px 20px;
  }

  .user-navigation {
    margin-left: auto;
  }
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include calculate_font(16px, 20px, $white);

  &-wrapper {
    margin-bottom: 60px;
    width: 100%;
    background-color: $black;
  }
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $white;

    &:hover,
    &:focus {
      background-color: $header_on_cursor;
    }
  }
}

.user-navigation {
  width: 140px;
}

.site-navigation {
  width: 540px;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}
