$white: #ffffff;
$black: #000000;
$content_background: #f8f5f2;
$catalog_item_background: #f8f8f8;
$footer_background: #252525;
$gallery_background: #e5e5e5;
$price_background: #e5e5e5;
$map_background: #aba9a7;
$on_cursor: #653d15;
$header_on_cursor: #242424;
$disabled: rgba(0, 0, 0, 0.5);

@mixin calculate_font($font_size, $line_height, $color: false) {
  font-size: $font_size;
  line-height: $line_height;
  @if $color { color: $color }
}
