.news {
  width: 380px;

  .news-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
  }
}

.news-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  time {
    text-transform: none;
  }
}
