.modal {
  position: fixed;
  display: none;
  color: $black;
  background: $content_background url('../img/content-background.png') 0 0 repeat;
  box-shadow: 0px 30px 50px $modal_shadow;
  z-index: 2;

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    height: 100%;
    width: 100%;
    background-color: $disabled;
  }

  &-overlay-show {
    display: block;
  }

  &-close {
    position: absolute;
    top: 0;
    right: -15px;

    width: 20px;
    height: 20px;
    padding: 0;

    border: 0;
    background-color: transparent;
    transform: translateX(100%);
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background-color: $cross;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@keyframes bounce {
  0%   { transform: translate(-50%, -2000px); }
  70%  { transform: translate(-50%, 30px);    }
  90%  { transform: translate(-50%, -10px);   }
  100% { transform: translate(-50%, 0);       }
}
