@import "shared/storage";

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font: 700 14px/24px 'PT Sans Narrow', Arial, sans-serif;
  color: $white;
  text-transform: uppercase;

  background: $black url('../img/hair-salon.jpg') top center no-repeat;

  &.inner-page {
    color: $black;
    background: $content_background url('../img/content-background.png') 0 0 repeat;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  color: $white;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background-color: $black;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $on_cursor;
  }

  &:disabled, &.disabled {
    cursor: default;
    background-color: $disabled;
  }
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
