.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;

  color: $black;
  background: $content_background url('../img/content-background.png') 0 0 repeat;

  h2 {
    @include calculate_font(30px, 42px);
  }

  &:first-of-type {
    margin-bottom: 35px;
  }

  &:last-of-type {
    margin-bottom: 65px;
  }
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;
  text-align: center;

  h3 {
    @include calculate_font(30px, 42px);
  }
}

.news {
  width: 380px;

  .news-list {
    list-style: none;
  }
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;

  .gallery-content {
    border: 7px solid $white;
    background-color: $gallery_background;
  }
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}

.appointment-item input {
  font: inherit;

  border: 2px solid $black;
  background-color: transparent;

  &:hover, &:focus {
    border-color: $on_cursor;
  }
}
