.promo-title {
  position: relative;
  margin: 0;
  padding: 0 160px;
  margin-bottom: 60px;
  @include calculate_font(48px, 48px);
  text-align: center;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 160px;
    height: 2px;
    background-color: $black;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.hair-products,
.our-prices,
.about-us {
  h2 {
    margin: 0;
    margin-bottom: 25px;
    @include calculate_font(24px, 30px);
  }
}

.our-prices h2 {
  margin-bottom: 30px;
}

.price-list-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

.hair-products {
  margin-bottom: 60px;
  width: 240px;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.hair-products-list li {
  position: relative;
  padding-left: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%) rotate(45deg);
    background-color: $black;
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.our-prices {
  width: 460px;

  table {
    border-collapse: collapse;
  }

  td {
    box-sizing: border-box;
    width: 230px;
    padding: 8px 16px;
    border: 2px solid $black;

    &:nth-child(even) {
      text-align: center;
    }
  }
}

.about-us {
  width: 860px;

  .about-us-text {
    display: flex;
    justify-content: space-between;
  }

  p {
    width: 382px;
    margin: 0;
    padding: 0;
  }
}
